.video {
    background-color: black;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.close-btn{
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 4px;
    border: 1px solid red;
    transition: background-color 0.4s ease;
}
.close-btn:hover{
    background-color: white;
}

.edit-btn{
    position: absolute;
    right: 30px;
    top: 1px;
    padding: 5px 10px;
    color: rgba(129,5,240,1);
    border: 1px solid rgba(129,5,240,1);
    transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
}

.edit-btn:hover{
    background-color: rgba(129,5,240,1);;
    color: white;
    border: 1px solid white;
}

.content {
    background-color: black;
    padding: 10px;
}

.content h5 {
    font-size: 19px;
}

.content h5, p, span {
    color: white;
    background-color: black;
}